:root {
    --primary-color: #A2D2FF;
    --secondary-color: #2FDD92;
    --text-color: ;
    --background: #F6F6F6;
}
body {
    font-family: 'Dosis', sans-serif;
    background-color: var(--background);
}
.header-container {
    display: flex;
    justify-content:space-between;
    align-items: center;

    height: 80px;

    background-color: var(--primary-color);
}
.logo-container {
    width: 100px;
    height: 100%;
}
.logo {
    object-fit: cover;

    width: 100%;
    height: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}
.nav-container{
    display: flex;
    list-style: none;
}
.nav-container a{
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;

    height: 80px;
    padding: 0 20px;

    font-size: 20px;
    font-weight: 500;
}
.nav-container a:hover{
    color: black;
}
.icon-cont:hover{
    opacity: 0.6;
}
#comma {
    font-size: 24px;
}
.icons {
    width: 32px;
}
.menu-icon {
    display: none;
    margin-right: 8px;
}
.home-icon{
    margin-left: 8px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    width: 100%;

    margin-bottom: 12px;

    background-color: var(--background);
    box-shadow: 0 2px 4px var(--primary-color);
}
.container section {
    justify-content: center;
    align-items: center;
}
.input {
    width: 100%;
    margin-bottom: 8px;
}
#list-of-numbers + label {
    margin-bottom: 8px;
}
.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
}
.main-container {
    display: grid;
    justify-content: center;
    grid: 40px;
}
.result-container{
    margin: 0;
    font-size: 20px;
}
.results-table, .results-table td{
    border: 1px solid black;
    padding: 2.8px;
}