:root {
    --primary-color: #A2D2FF;
    --secondary-color: #2FDD92;
    --text-color: ;
    --background: #F6F6F6;
}
body {
    font-family: 'Dosis', sans-serif;
    background-color: var(--background);
}
.header-container {
    display: flex;
    justify-content:space-between;
    align-items: center;

    height: 80px;

    background-color: var(--primary-color);
}
.logo-container {
    width: 100px;
    height: 100%;
}
.logo {
    object-fit: cover;

    width: 100%;
    height: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}
.nav-container{
    display: flex;
    list-style: none;
}
.nav-container a{
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;

    height: 80px;
    padding: 0 20px;

    font-size: 20px;
    font-weight: 500;
}
.nav-container a:hover{
    color: black;
}
.icon-cont:hover{
    opacity: 0.6;
}
.icons {
    width: 32px;
}
.menu-icon {
    display: none;
    margin-right: 8px;
}
.home-icon{
    margin-left: 8px;
}
.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    width: 100%;

    background-color: var(--background);
    box-shadow: 0 2px 4px var(--primary-color);
}
.title-section .title {
    padding-right: 20px;

    font-size: 24px;
    letter-spacing: 2px;
}

.figures-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
}
.figure-container {
    padding: 12px;
    border-radius: 20px;
    border: 4px dashed #4F091D;

    width: 240px;
    min-height: 300px;
}
.square-container {
    background-color: #F3F0D7;
}
.triangle-container {
    background-color: #CEE5D0;
}
.circle-container {
    background-color: #FED2AA;
}
.figure-container .subtitle {
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    text-align: end;
}
.figure-container h3 {
    font-size: 16px;
    /* margin-right: 8px; */
}
.figure-form-container {
    display: flex;
    flex-direction: column;
    
    margin-top: 24px;
}
.square-form, .circle-form {
    display: flex;
}
.triangle-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.figure-info {
    align-items: center;
}
.figure-info input {
    font-size: 16px;

    border: none;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;

    width: 60px;
}
.primary-button {
    align-self: center;

    padding: 4px;
    border: none;
    border-radius: 8px;
    margin: 12px 0;
    border: 1px solid var(--text-color);

    width: 120px;

    color: var(--text-color);
    font-size: 20px;
    font-weight: 800;
    background-color: #FBF3E4;
    font-family: 'Dosis', sans-serif;

    cursor: pointer;
}
.primary-button:hover {
    border-color: #FBFFE2;
    box-shadow: 4px 4px #DD4A48;
    background-color: #FBFFE2;
}
.measurements-container {
    display: none;
    grid-template-columns: 1fr 1fr;
}
.info-figure-content {
    display: grid;
    grid-template-columns: 1fr 1fr
}
.result {
    color: #181D31;
    font-size: 16px;
    font-weight: 300;
}

@media(max-width: 660px){
    .header-container{
        height: 60px;
        justify-content: space-between;
    }
    .nav-container {
        display: none;
    }
    nav {
        width: auto;
    }
    .logo-container {
        width: 40px;
        height: 60px;
    }
    .logo {
        display: none;
    }
    .menu-icon {
        display: initial;
    }

    .title {
        font-size: 20px;
    }

}
.measure-selector {
    border: none;
    width: 48px;
    height: 28px;
}
#triangle-measure-input {
    margin: 4px;
}
@media(max-width: 800px){
    .triangle-content{
        order: 3;
    }
.figure-container {
    min-height: 0;
    height: auto;
    }
}
